<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311325913216-nvtlanjpnk5l3sejbh5fbg01li9c7a95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311325913216-nvtlanjpnk5l3sejbh5fbg01li9c7a95</string>
	<key>API_KEY</key>
	<string>AIzaSyAOhpilyrt0rMoju3li0HoUwecIz2bRG88</string>
	<key>GCM_SENDER_ID</key>
	<string>311325913216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imotionnigeria.goldline</string>
	<key>PROJECT_ID</key>
	<string>goldline-79ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>goldline-79ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311325913216:ios:71f2ed204ee8ae2ebab665</string>
</dict>
</plist>